rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Check if user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // Check if the user is accessing their own data
    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    // Allow read/write for users, needed for Admin Panel
    match /users/{userId} {
      allow read, write: if true;
    }
    
    match /transactions/{txId} {
      allow read, write: if true; 
    }

    match /chats/{userId} {
      allow read, write: if true;
      
      match /messages/{messageId} {
        allow read, write: if true;
      }
    }

    match /matches/{matchId} {
      allow read, write: if true;
    }

    match /payments/{paymentId} {
      allow read, write: if true;
    }

    match /withdrawals/{withdrawalId} {
      allow read, write: if true;
    }

    match /activities/{activityId} {
      allow read, write: if true;
    }

    match /winners/{winnerId} {
      allow read, write: if true;
    }

    match /announcements/{announcementId} {
      allow read, write: if true;
    }

    match /payment_settings/{docId} {
      allow read, write: if true;
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
